    body {
            font-family: Arial, sans-serif;
            margin: 20px;
            background-color: #e7a4a4;
        }
        h2 {
            color: #060211;
        }
        form {
            margin-bottom: 20px;
        }
        label {
            display: block;
            margin-bottom: 5px;
        }
        input, select {
            margin-bottom: 10px;
            padding: 5px;
            width: 200px;
        }
        button {
            padding: 5px 10px;
            background: #3b021a;
            color: white;
            border: none;
            cursor: pointer;
        }
        button:hover {
            background: #d32298;
        }
        table {
            border-collapse: collapse;
            width: 100%;
            margin-bottom: 20px;
        }
        th, td {
            border: 1px solid #241e1e;
            padding: 8px;
            text-align: left;
        }
        th {
            background-color: #a80760;
        }
        #details {
            border: 1px solid #ddd;
            padding: 10px;
            background: #e7a4a4;
        }
        #searchInput {
            width: 300px;
            padding: 5px;
        }